@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: -webkit-fill-available;
}

body {
   font-family: 'Roboto', sans-serif;
   background: #333;
   color: #fff;
   line-height: 1.6;
}

.slider {
   position: relative;
   overflow: hidden;
   height: 100vh;
   width: 100vw;
}

.slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: opacity 0.4s ease-in-out;
}

.slide.current {
   opacity: 1;
}

.slide .content {
   position: absolute;
   bottom: 70px;
   left: -600px;
   opacity: 0;
   width: 600px;
   background-color: rgba(255, 255, 255, 0.6);
   color: #333;
   padding: 35px;
}

.slide .content h1 {
   margin-bottom: 10px;
}

.slide.current .content {
   opacity: 1;
   transform: translateX(600px);
   transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
   position: absolute;
   top: 50%;
   right: 15px;
}

.buttons button#prev {
   position: absolute;
   top: 50%;
   left: 15px;
}

.buttons button {
   border: 2px solid #fff;
   background-color: transparent;
   cursor: pointer;
   padding: 13px 15px;
   border-radius: 50%;
   outline: none;
}

.buttons button:hover {
   background-color: #fff;
   color: #333;
}

@media(max-width: 500px) {
   .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;
   }

   .slide.current .content {
      transform: translateY(-300px);
   }
}

.slide:first-child {
   background: url(./img/slider-1.jpg) no-repeat center center/cover;
}
.slide:nth-child(2) {
   background: url(./img/slider-2.jpg) no-repeat center top/cover;
}
.slide:nth-child(3) {
   background: url(./img/slider-3.jpg) no-repeat center top/cover;
}
.slide:nth-child(4) {
   background: url(./img/slider-4.jpg) no-repeat center top/cover;
}
.slide:nth-child(5) {
   background: url(./img/slider-5.jpg) no-repeat center top/cover;
}
.slide:nth-child(6) {
   background: url(./img/slider-6.jpg) no-repeat center top/cover;
}